body{
background-color: #ffe2e2;
font-family: "Comic Sans MS";
}
.stamp{
  background: grey;
  margin:0;
  position: relative;
  max-width: 100%;
}
.wonton-profile{
  border:10px dotted grey;
  height: 240px;
  max-width: 180px;
  background-color: #f85f73;
  padding: 20px;
  display: inline-block;
}
.wonton-profile2{
  border:10px dotted grey;
  height: 240px;
  width: 180px;
  background-color: #f73859;
  padding: 20px;
  display: inline-block;
}
.wonton-profile3{
  border:10px dotted grey;
  height: 240px;
  width: 180px;
  background-color: #db3056;
  padding: 20px;
  display: inline-block;
}
.wonton-profile4{
  border:10px dotted grey;
  height: 240px;
  width: 180px;
  background-color: #851d41;
  padding: 20px;
  display: inline-block;
}
.wonton-profile5{
  border:10px dotted grey;
  height: 240px;
  width: 180px;
  background-color: #cc0066;
  padding: 20px;
  display: inline-block;
}
img {
max-width: 100%;
height: auto;
}
.button {
background-color: #4CAF50; /* Green */
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
font-family: "Comic Sans MS"
}
.button2 {background-color: black; color: white;}
.button3 {background-color: #D3D3D3; color:white;}
.buttons{
  right:0;
  display: inline;
  position: absolute;
}
table, th, td {
border: 10px;
border-color: #8785a2;
border-collapse: collapse;
border-style: dotted;
}
th, td {
padding: 15px;
text-align: center;
}
td:hover {background-color:#ffc7c7;}
h1, h2, h3, p,td {
  color: #8785a2;
}
h1{
  display: inline;
}
